/* ProfilePage.module.css */

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profileContent {
    margin-top: 20px;
    text-align: center;
}

.profileInfo {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profileInfo h1 {
    margin-bottom: 20px;
}

.profileInfo p {
    margin-bottom: 10px;
}

.profileInfo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* Style for date container */
.header > div {
    font-size: 14px;
    color: #666;
}
/* ProfilePage.module.css */

.editButton {
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.updateButton {
  background-color: #28a745; /* Green color */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cancelButton {
  background-color: #dc3545; /* Red color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.inputField {
  margin-bottom: 10px;
}